@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root{
  --black-primary: #010C15;
  --font-color: #607B96;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

body{
  height: 100%;
  width: 100%;
  background-color: var(--black-primary);
}

